  @font-face {
    font-family: 'Imperial';
    src: url('Imperial BT Roman.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Cheltenham';
    src: url('Cheltenham BT.ttf') format('truetype');
  }    

  #navbar a{
    font-family: 'Imperial';
  }

  .nivel-busca a{
    font-family: 'Imperial';    
  }

  li.results-itens{
    font-family: 'Imperial';        
  }

  .home #content #content-right #resultado #block-results .results-itens .box-content .titles{
    font-family: 'Imperial'; 
  }